<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Paybacks</h1>

      <form name="paybackForm" ng-submit="addPayback()">
        <div class="form-group">
          <label>Amount</label>
          <input type="number" min="0" step="0.01" name="amount" class="form-control" ng-model="newPayback.amount" required>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="newPayback.description" required></textarea>
        </div>
        <div class="form-group">
          <label>Recipient</label>
          <select class="form-control"
            ng-model="newPayback.recipient"
            ng-options="user._id as user.name for user in users"
            required>
            <option value="" ng-hide="newPayback.recipient">Choose recipient</option>
          </select>
        </div>
        <button class="btn btn-lg btn-primary" type="submit" ng-disabled="paybackForm.$invalid">Add payback</button>
      </form>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <a href="#" ng-click="sort.by = 'author.name'; sort.reverse = !sort.reverse">
                  Author
                  <span ng-show="sort.by == 'author.name' && !sort.reverse" class="fa fa-caret-down"></span>
                  <span ng-show="sort.by == 'author.name' && sort.reverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" ng-click="sort.by = 'amount'; sort.reverse = !sort.reverse">
                  Amount
                  <span ng-show="sort.by == 'amount' && !sort.reverse" class="fa fa-caret-down"></span>
                  <span ng-show="sort.by == 'amount' && sort.reverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                  Description
              </th>
              <th>
                <a href="#" ng-click="sort.by = 'recipient.name'; sort.reverse = !sort.reverse">
                  Recipient
                  <span ng-show="sort.by == 'recipient.name' && !sort.reverse" class="fa fa-caret-down"></span>
                  <span ng-show="sort.by == 'recipient.name' && sort.reverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" ng-click="sort.by = 'created'; sort.reverse = !sort.reverse">
                  Created
                  <span ng-show="sort.by == 'created' && !sort.reverse" class="fa fa-caret-down"></span>
                  <span ng-show="sort.by == 'created' && sort.reverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th ng-if="isAdmin()"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="payback in paybacks | orderBy:sort.by:sort.reverse">
              <td ng-bind="payback.author.name"></td>
              <td ng-bind="payback.amount | currency: '€'"></td>
              <td ng-bind="payback.description"></td>
              <td ng-bind="payback.recipient.name"></td>
              <td ng-bind="payback.created | date: 'dd.MM.yyyy hh:mm'"></td>
              <td ng-if="isAdmin()">
                <a ng-click="delete(payback)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
